body{
	margin: 0px;
	padding: 0px;
}
.txtArea_address, .txtArea_athBg{
	width: 300px;
	height: 100px;
}
.txtBox_age{
	width: 50px;
}
.error{
	color: red;
	font-style: italic;
	font-size: 14px;
}
.divLeft{
	width: 25%;
	float: left;
}
.divRight{
	width: 25%;
	float: right;
}
.divCenter{
	width: 50%;
	float: left;
	margin-bottom: 30px;
}
.tblArabic{
	width: 100%;
	text-align: right;
}
.tblEnglish{
	width: 100%;
}
.tblControls{
	text-align: center;
	width: 100%;
}
.divRight table tr td{
	text-align: right !important;
	color: red;
	font-size: 10px;
	font-style: italic;
}
.divCenter table tr td{
	text-align: center !important;
}
.spanRequired{
	color: red;
	margin: 0px !important;
	float: none !important;
}
.innerLink{
	color: #494f5c;
	font-size: 12px;
}
	article h3{
		margin-left: 20px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
.mobileHint{
	color: gray;
	font-size: 10px;
	font-style: italic;
}